<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <meta charset="utf-8">
    <title>Bootswatch: Lux</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">

</head>
<body>

<h1>This is my website.</h1>


{% for p in object_list %}

<h3>{{p}}</h3>
<h4>{{p.created}} by {{p.author}}</h4>
<p>{{p.content}}</p>



{% endfor %}




    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
    <script src="{% static 'blog/_assets/js/custom.js' %}"></script>
    <script src="{% static 'blog/_assets/js/popper.min.js' %}"></script>
    <script src="{% static 'blog/_assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/bootstrap/bootstrap.min.js' %}"></script>

</body>
</html>